# Julia specific
*.jl.*.cov
*.jl.cov
*.jl.mem
/deps/deps.jl
/docs/build/
Manifest.toml

# Data files
*.jld2
*.h5
*.dat

# System specific files
.DS_Store
.env
*.swp
*~

# VSCode specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Build artifacts
/build/
/bin/

# Local development settings
/local/
*.local
